@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("./img/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  display: flex;
}

.cards {
  margin: 10px;
  width: 50vw;
  display: flex;
  height: min-content;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  width: 50vw;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  border-radius: 10px;
  background-color: rgba(53, 53, 53, 0.47);
  padding: 25px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 70%;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
}

input:focus {
  outline: none;
}

.grp2 {
  display: flex;
  justify-content: space-between;
}

select {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  margin-left: 20px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  margin-top: 10px;
  min-height: 200px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.submit {
  font-family: 'Playfair Display', serif;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  width: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #57AF57;
}

.card {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  width: 40%;
  border: none;
  border-radius: 8px;
  background-color: rgba(126, 27, 128, 0.3);
  padding: 14px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btns {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.edit {
  font-family: 'Playfair Display', serif;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  width: 100px;
  background-color: #56B6D3;
}

.delete {
  font-family: 'Playfair Display', serif;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  width: 100px;
  background-color: #CE4F4B;
}